/* add your CSS here */
h1 {
	font-family: Arial;
}

.pic img{
	width: 100%;
}

.description {
	font-style: italic;
	width: 100%;
}

.taxonomy {
	font-style: bold;
}

.etymology {
     font-style: italic;
}